<input [type]="inputType" [value]="inputText" [disabled]="isDisabled" (input)="handleInputKeyup($event)">

<button (click)="changeDisabledInput()">Habilitar</button>
<button (click)="changeTypeInput()">Mostrar</button>

<br>
<br>

<button [attr.title]="buttonTitle" [attr.disabled]="buttonDisabled ? true : null">Texto</button>

<br>
<br>

<button [style]="{ color: 'white', backgroundColor: 'black' }">Background</button>
<button [style]="styleObj">Background</button>
<button [style.background]="'black'">Background</button>
<button [style.background]="buttonBackground">Background</button>
<button (click)="updateStyleButton()">Atualizar</button>

<br>
<br>

<button [class.green-button]="true">Verde</button>
<button [class.red-button]="isRedButton">Vermelho</button>
<button [class]="{
  'red-button' : !isGreenButton,
  'green-button' : isGreenButton
}" (click)="isGreenButton = !isGreenButton">Objeto</button>
